#contact iframe
{
    width: 100%;
}
.MainDiv{
    border:1px solid lightgrey;

}
.MainDiv img{
    width: 100%;

}
.MainDiv h5, .MainDiv p{
margin: 20px;
}

.MovieDiv{
    font-size: 20px;
    padding:6px 22px ;
    border-radius: 10px;
    margin-bottom: 15px;
}

.MovieDiv i{
    float: right;
}

.movie_text span{
    color: yellow;
}
